<div class="jumbotron">
  <h1>Welcome to MyHome</h1>
  <p>A great web application for bookmarks!:)</p>
  
  <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %> </p>

</div>

