<div class="jumbotron">
  <h1>Welcome to MyHome</h1>
  <p>A great web application for bookmarks!:)</p>
 
  <p>Features:</p>
  <ul>
    <li>Platform and browser independent</li>
    <li>Some other features</li>
  </ul>
  
  <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %> </p>

</div>

