<div class="jumbotron">
  <h1>Welcome to MyHome Bookmarks!</h1>
  <p><strong>A great web application for managing bookmarks! :)</strong></p>
 
  <p>Are you tired of using the brower built-in bookmarks?</p>
  <p>Do you want to use your bookmarks on different computers and different browsers?</p>

  <p><strong>This application is just for you!</strong></p>

  <p>Sign up, define your bookmarks, set this page as your home page and use them wherever you need!</p>

  
  <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %> </p>

</div>

