<div class="jumbotron">
  <div class="container">
  <h1>Welcome to MyHome!</h1>
  <p>MyHome is a great new application for bookmarks!:)</p>
  <p>Click below to sign up and try us!</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>
