// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.bookmark
  a
    overflow: hidden
  .small_buttons
    text-align: right 
    margin-bottom: 0.5em
  .bookmark_link
    img, span
      display: inline-block
      height: 16px
      width: 16px
      margin-right: 5px

div.modal-dialog
  margin-top: 15%

