// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.bookmark
  display: inline-block
  width: 150px
  margin: 1em
  a
    text-align: center
    img
      display: block
  .small_buttons
    text-align: right 
  a.bookmark_link
    display: block
    text-align: center

