<footer class="footer container navbar-fixed-bottom">
  <small class="text-muted">MyHome Bookmarks by Piotr Szachewicz</small>
<!--  <nav class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Click here to set me as your home page!",   '#', onClick: "this.style.behavior='url(#default#homepage)';
        this.setHomePage('http://www.htmlgoodies.com');" %>
      </li>
    </ul>
  </nav>-->
</footer>
